/* Colores */
$uno : #FF9100;
$dos : #ff1744;
$tres : #00d4a3;
$cuatro : #5000ff;
$negro : #212529;
$negro-x : #000000;
$blanco : #fafafa;

/* Marketing colores */
$mkt01 : #ffa500;
$mkt02 : #000000;
$mkt03 : #ffffff;
$mkt04 : #c2c2c2;

/* gameStore colores */
$gms01 : #ff1744;
$gms02 : #343a40;
$gms03 : #007bff;
$gms04 : #ffffff;

/* Banco Cibertec colores */
$ban01 : #00d4a3;
$ban02 : #212529;
$ban03 : #ffffff;
$ban04 : #f8f9fa;

/* Imagenes proyectos */
$img_marketing : url(../img/marketing/marketing.jpg);
$img_gameStore : url(../img/gameStore/gameStore.jpg);
$img_bancoCibertec : url(../img/bancoCibertec/bancoCibertec.jpg);
$img_graffiti : url(../img/graffiti/graffiti.jpg)
// $img_elObservador : url(../img/20200113_101223.jpg);

